body {
	margin: 0;
	background-color: #171717;
	color: white;
	overflow: hidden;
	font-size: 1em;
}

h1 {
	overflow: hidden;
	text-overflow: ellipsis;
}

h1, h2, h3, #noScripts {cursor: default;}

nav, main {
	position: fixed;
	height: 100vh;
	padding: 1em 3em;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}

button {
	white-space: nowrap;
	overflow: hidden;
	border-style: none;
	outline: none;
	border-radius: 0;
	background-color: inherit;
	color: inherit;
	text-align: left;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	text-overflow: ellipsis;
	padding: 0.5em 1em;
}

button:not([disabled]):hover {background-color: #373737}
button:not([disabled]):active {background-color: #272727}
button:not([disabled]).selected {background-color: #474747}
button:focus-visible {outline: 2px solid gray;}

button[disabled] {
	color: gray;
	cursor: default;
}

button svg {margin-right: 1em;}
#list button svg {margin-right: 0;}

nav > button {
	display: block;
	width: 100%;
}

nav {
	width: 360px;
	border-right: 1px solid gray;
}

main {
	left: 361px;
	right: 0;
}

.warning {
	border-radius: 1em;
	padding: 1em;
	text-align: center;
	background-color: #ffcccc;
	font-weight: bold;
	color: red;
}

#toolbar {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

dialog {
	padding: 1.5em;
	background-color: inherit;
	color: inherit;
	border: 1px solid gray;
	width: 360px;
}

dialog::backdrop {background-color: rgba(0, 0, 0, 0.5);}
dialog h3 {margin-top: 0;}

dialog label {
	display: block;
	margin-bottom: 1em;
}

input, textarea {
	box-sizing: border-box;
	width: 100%;
	margin-top: 0.5em;
	resize: none;
	background-color: inherit;
	color: inherit;
	border: 1px solid gray;
	border-radius: 0;
	font-family: inherit;
	padding: 0.5em;
}

input:focus, textarea:focus {
	border-color: dodgerblue;
	outline: none;
}

.dialogButtons {text-align: right;}
.dialogButtons button {border: 1px solid gray;}
.dialogButtons button:not(:first-child) {margin-left: 1em;}

textarea {font-family: monospace;}

#noScripts {
	color: gray;
	text-align: center;
	margin: 1em 0;
	display: none;
}

#list > div:first-child {border-top: 1px solid gray;}

#list > div {
	display: flex;
	border-bottom: 1px solid gray;
}

.editButton {flex-grow: 1;}
#list button:not(.editButton) {flex-shrink: 0;}

a {
	color: dodgerblue;
	text-decoration: none;
}

a:hover {text-decoration: underline;}

.appIcon {
	margin-right: 0.5em;
	height: 1em;
	vertical-align: -0.25ex;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
	
	button:not([disabled]):hover {background-color: #dfdfdf}
	button:not([disabled]):active {background-color: #efefef}
	button:not([disabled]).selected {background-color: #cfcfcf}
}

@media (max-width: 720px) {
	nav {
		width: 90px;
		padding: 1em;
	}
	
	nav > * {text-align: center;}
	.wideOnly {display: none;}
	main {left: 91px;}
	.appIcon, nav button svg {margin: 0;}
}