body {
	margin: 0;
	background-color: #171717;
	color: white;
	width: 360px;
}

#noScripts {
	color: gray;
	display: none;
	cursor: default;
}

button, #noScripts {
	padding: 0.75em 2em;
	white-space: nowrap;
	overflow: hidden;
}

button {
	display: block;
	border-style: none;
	outline: none;
	border-radius: 0;
	background-color: inherit;
	color: inherit;
	text-align: left;
	width: 100%;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	text-overflow: ellipsis;
}

button:hover {background-color: #373737}
button:active {background-color: #272727}

button:focus-visible {
	outline: 2px solid gray;
	outline-offset: -2px;
}

hr {
	margin: 0;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: gray;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
	
	button:hover {background-color: #dfdfdf}
	button:active {background-color: #efefef}
}